body {
    padding: 0;
    background-color: #82d8d8;
    display: flex;  
}

header {
    display: flex;
    width: 100%;
}

h2 {
    background-color: #979797;
    margin: 10px;
    padding: 20px;
}

h3 {
    background-color: blue;
    margin: 10px;
    padding: 20px;
}